// link https://element.eleme.cn/#/zh-CN/component/color 
// 主色
$BrandColor:#409EFF;
// 辅助色
$Success:#67C23A;
$Warning:#E6A23C;
$Danger:#F56C6C;
$Info:#909399;

// 文字
// 主要文字
$Font01:#303133;
// 常规文字
$Font02:#606266;
// 次要文字
$Font03:#909399;
// 占位文字
$Font04:#C0C4CC;

// 边框
// 一级边框
$Border01:#DCDFE6;
// 二级边框
$Border02:#E4E7ED;
// 三级边框
$Border03:#EBEEF5;
// 四级边框
$Border04:#F2F6FC;

// base
$Black:#000000;
$White:#FFFFFF;
$Transparent:Transparent;
